@CHARSET "UTF-8";
* {
    font-family: 'Microsoft Yahei', verdana;
    color: #333;
    font-size: 12px;
}

body {
    margin: 0;
    padding: 0;
}

table {
    border: none;
    width:98%;
	margin:0 auto;
}

td {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    height: 30px;
    padding-left: 5px;
    cursor: pointer;
	padding-right:2px;
}

tr:hover td {
    color: #6997FD;
}
.icon{
	padding-left:0;
}
.icon b{
	width:12px;
	height:12px;
	background:url("images/home_ico.png") -335px 0 no-repeat;
	margin:9px auto;
	display:block;
}
.last-row td{
	border:none!important;
}
