@CHARSET "UTF-8";
/**
@author lins
*/
.slick-header.ui-state-default, .slick-headerrow.ui-state-default {
	width: 100%;
	overflow: hidden;
	border-left: 0px;
}
.slick-header-columns, .slick-headerrow-columns {
	width: 999999px;
	position: relative;
	white-space: nowrap;
	cursor: default;
	overflow: hidden;
}

.slick-header-column.ui-state-default {
	 color : black !important;
	position: relative;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 16px;
	/*_height: 25px;*/
	line-height: 16px;
	margin: 0;
	padding: 4px;
	/*border-right: 1px solid silver;*/
	border-left: 0px;
	border-top: 0px;
	border-bottom: 1px solid #CCC !important;
	float: left;
}

.slick-headerrow-column.ui-state-default {
    padding: 0px 4px 0px 4px;
    border-bottom: 1px dotted gray;
    _padding:4px;
}

.slick-header-column-sorted {
	font-style: italic;
}

.slick-sort-indicator {
	display: inline-block;
	width: 8px;
	height: 5px;
	margin-left: 4px;
}

.slick-sort-indicator-desc {
	background: url(images/sort-desc.gif);
}

.slick-sort-indicator-asc {
	background: url(images/sort-asc.gif);
}

.slick-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	cursor: col-resize;
	width: 4px;
	right: 0px;
	top: 0;
	height: 100%;
}

.slick-sortable-placeholder {
	background: silver;
}

.grid-canvas {
	position: relative;
	outline: 0;
	background-color: white;
}
.slick-full-canvas-fixed {position: fixed !important; top: 0; left: 0; right: 0;bottom: 0;z-index:8000}
.slick-full-canvas {position: fixed !important; top: 0; left: 0; right: 0;bottom: 0;z-index:8000}
.slick-tool-max {background:url('images/slick-tools.gif') no-repeat 0px -16px;}
.slick-row.ui-widget-content, .slick-row.ui-state-active {
	position: absolute;
	border: 0px;
}

.slick-cell, .slick-headerrow-column {
	float: left;

	border: 1px solid transparent;
	border-right: 1px dotted silver;
	border-top: 0px solid silver;
	border-bottom: 1px dotted silver;
	
	_border: 1px solid #ffffff; 
	_filter: chroma(color = #ffffff);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
	z-index: 1;
	padding: 1px 2px 2px 1px;
    margin: 0;
	white-space: nowrap;
	cursor: default;
}

.slick-group {
}

.slick-group-toggle {
    display: inline-block;
}

.slick-cell.highlighted {
    background: lightskyblue;
    background: rgba(0,0,255,0.2);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.slick-cell.flashing {
    border: 1px solid red !important;
    background-color: #cfe9f7 !important;;
}

.slick-cell.editable {
	z-index: 11;
	overflow: visible;
	background: white;
	border-color: black;
	border-style: solid;
}

.slick-cell:focus {
	outline: none;
}

.slick-reorder-proxy {
	display: inline-block;
	background: blue;
	opacity: 0.15;
	filter: alpha(opacity=15);
	cursor: move;
}

.slick-reorder-guide {
	display: inline-block;
	height: 2px;
	background: blue;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.slick-selection {
    z-index: 10;
    position: absolute;
    border: 2px dashed black;
}

.slick-pager
{
	width: 100%;
	height:30px;
	/**border: 1px solid gray;**/
	border-top: 0;
	border-top: 1px solid #A6C3EB;
	background: url('images/grid-bg.png') repeat-x ;
	vertical-align: middle;
	background-color: #eff;
}
.slick-pager split {
	background: url('images/grid-blue-split.gif') repeat-x ;
}
.grid-icon-excel {
	background: url('images/excel.png') no-repeat !important;
}
.slick-pager .slick-pager-status
{
	display: inline-block;
	padding-left: 10px;
	font-size: 12px;
	/**color: #416AA3;*/
}

.slick-pager .ui-icon-container
{
	display: inline-block;
	margin: 2px;
	border-color: gray;
}

.slick-pager .slick-pager-nav
{
	display: inline-block;
	float: left;
	padding-left: 20px;
}

.slick-pager .slick-pager-settings
{
	display: block;
	float: right;
	/**padding: 2px;**/
}

.slick-pager .slick-pager-settings *
{
	vertical-align: middle;
}

.slick-pager .slick-pager-settings a
{
	padding-left: 5px;
	padding-top : 5px;
	text-decoration: underline;
	cursor: pointer;
}
 .slick-cell-selection {
    background: url('images/datagrid_header_bg.gif') repeat-x center bottom;
    text-align: right;
    font-size: 10px;
}
.slick-cell-checkbox input[type=checkbox],.slick-cell-checkbox input[type=radio] {
	margin-top: 5px;
}
.slick-icon-edit{
	background-position: 40px;
	background:url('images/pencil.gif') no-repeat !important;
}
/**pager*/
.slick-pager-nav-dis{
	float:left;
	height:26px;
	padding-top:4px;
}
.slick-pager-nav-dis span, .slick-pager-nav-dis input{
	display:block;
	float: left;
}
.slick-pager-nav-dis span {
	margin-top:2px;
}
.slick-pager-nav-dis .tool-separator {
	margin-top:0px;
	margin-right:2px;
	height:18px;
}
.slick-icon-page-first{
	background:url('images/page-first.gif') no-repeat !important;
}
.slick-icon-page-first-dis{
	background:url('images/page-first-disabled.gif') no-repeat !important;
}
.slick-icon-page-last{
	background:url('images/page-last.gif') no-repeat !important;
}
.slick-icon-page-last-dis{
	background:url('images/page-last-disabled.gif') no-repeat !important;
}
.slick-icon-page-next{
	background:url('images/page-next.gif') no-repeat !important;
}

.slick-icon-page-button {
	width:25px;
	height:25px;
	border:1px solid transparent;
	display:block;
	float: left;
}
.slick-icon-page-button:hover{
	border:1px solid #85B4C7;
}
.slick-icon-page-button:active{
	background-color:#87bcd1 !important;;
}
.slick-icon-page-next-dis{
	background:url('images/page-next-disabled.gif') no-repeat !important;
}
.slick-icon-page-prev{
	background:url('images/page-prev.gif') no-repeat !important;
}
.slick-icon-page-prev-dis{
	background:url('images/page-prev-disabled.gif') no-repeat !important;
}
/** default theme*/
.slick-header-columns {
    background: url('images/datagrid_header_bg.gif') repeat-x center bottom;
}

.slick-header-column {
    background: url('images/datagrid_header_bg.gif') repeat-x center bottom;
    border-right: 1px solid silver;
}

.slick-header-column:hover, .slick-header-column-active {
    /* background: white url('images/header-columns-over-bg.gif') repeat-x center bottom;*/
}

.slick-headerrow {
    background: #fafafa;
    border-bottom :1px dotted silver;
}

.slick-headerrow-column {
    background: #fafafa;
    border-bottom: 0;
    height: 100%;
}

.slick-row.ui-state-active {
    background: #F5F7D7;
}

.slick-row {
    position: absolute;
    background: white;
    border: 0px;
    line-height: 20px;
}
.slick-viewport {
	width:100%;
	overflow-x:auto;
	outline:0;
	position:relative;
	overflow-y:auto;
	background-color: white;
}
.slick-row.selected {
    z-index: 10;
    background: #DFE8F6;
}

.slick-cell {
    padding-left: 4px;
    padding-right: 4px;
    line-height: 24px;
}

.slick-group {
    border-bottom: 2px solid silver;
}

.slick-group-toggle {
    width: 9px;
    height: 9px;
    margin-right: 5px;
}

.slick-group-toggle.expanded {
    background: url(images/collapse.gif) no-repeat center center;
}
.slick-edited-icon {
    background: url(images/dirty.gif) no-repeat !important;
}
.slick-group-toggle.collapsed {
    background: url(images/expand.gif) no-repeat center center;
}

.slick-group-totals {
    color: gray;
    background: white;
}

.slick-cell.selected {
    background-color: #fbec88;
}

.slick-cell.active {
	border :1px;
    border-color: gray;
    border-style: solid;
    background-color: #fbec88;
}


.slick-sortable-placeholder {
    background: silver!important;
}

.slick-row[row$="1"], .slick-row[row$="3"], .slick-row[row$="5"], .slick-row[row$="7"],	.slick-row[row$="9"] {
    background: #f1f1f1;
}

.slick-row.ui-state-active {
    background: #F5F7D7;
}

.slick-row.loading {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.slick-cell.invalid {
	border-color: red;
}
.slick-icon-edit-column {
	background: url(images/dirty.gif) no-repeat right 4px;
}
/* editor*/
input.editor-text {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	outline: 0;
    padding: 0;
}

.slick-selectGrid-down {
	border :1px solid gray;
	-moz-box-shadow: 0px 2px 10px #333333;
	-webkit-box-shadow:0px 2px 10px #333333;
	box-shadow:0px 2px 10px #333333;
	float : left;
	padding: 1px 1px 1px 1px;
	position :absolute;
	background-color:white;
	top:25px;
	z-index:99999;
}

.slick-selectGrid-up {
	border :1px solid gray;
	-moz-box-shadow: 0px -2px 10px #333333;
	-webkit-box-shadow:0px -2px 10px #333333;
	box-shadow:0px -2px 10px #333333;
	float : left;
	padding: 1px 1px 1px 1px;
	position : absolute;
	background-color:white;
	top:25px;
	z-index:99999;
}

.slick-grid-filter-input {
	padding-left: 15px;
	background:url('../icons/icon-search.png') no-repeat !important;
}
.datagrid-exp{background:url('../extentcss/images/excel.png') no-repeat !important; top:3px;padding-left: 20px;line-height: 20px;cursor: pointer;text-align:center;}
.datagrid-exp:HOVER{border:1px solid #AECFF7;background-color:#ECF0F6;color:red;outline:medium none;}
.pageToolExcelContent{border:1px solid rgb(170, 170, 170);width:120px;background: url("images/menu_bg.gif") repeat-y scroll 0px 0px rgb(240, 240, 240);position: absolute;display:none;padding:4px !important;border-radius:4px;}