@CHARSET "UTF-8";
.color_1{
	background-color:#388de7
}

.color_2{
	background-color:#01ba9b
}

.color_3{
	background-color:#a5d669
}

.color_4{
	background-color:#8ec742
}

.color_5{
	background-color:#5da3eb
}

.color_6{
	background-color:#fa9800
}

.color_7{
	background-color:#f5bb58
}

.color_8{
	background-color:#868bc2
}

.color_9{
	background-color:#fc5d5a
}

.color_10{
	background-color:#7948a1
}

.color_11{
	background-color:#01ba9b
}

.color_12{
	background-color:#db532d
}

.color_13{
	background-color:#26ae26
}

.color_14{
	background-color:#06ed06
}

.color_15{
	background-color:#e686d1
}