<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	<bean id="userMgService" parent="transactionProxy">
    	<property name="target">
			<bean class="com.yinhai.ta3.organization.service.impl.UserMgServiceImpl" parent="orgBaseService">
				<property name="positionMgService" ref="positionMgService"/>
				<property name="userService" ref="userService"/>
				<property name="positionService" ref="positionService"/>
				<property name="orgOpLogService" ref="orgOpLogService"/>
				<property name="grantService" ref="grantService"/>
				<property name="md5PasswordEncoder" ref="md5PasswordEncoder"/>
				<property name="organizationEntityService" ref="organizationEntityService"/>
			</bean>
		</property>
	</bean>	
	<bean id="userService" parent="transactionProxy">
    	<property name="target">
			<bean class="com.yinhai.ta3.organization.api.impl.UserServcie">
				<property name="hibernateDao" ref="hibernateDao"/>
				<property name="timeService" ref="timeService"/>
				<property name="positionService" ref="positionService"/>
			</bean>
		</property>
	</bean>	
	<bean id="userPassChangeService" parent="transactionProxy">
    	<property name="target">
			<bean class="com.yinhai.ta3.organization.service.impl.UserPassChangeServiceImpl" parent="wsbaseService">
				<property name="md5PasswordEncoder" ref="md5PasswordEncoder"/>
				<property name="hibernateDao" ref="hibernateDao"/>
				<property name="timeService" ref="timeService"/>
			</bean>
		</property>
	</bean>	
</beans>