<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
						http://www.springframework.org/schema/beans/spring-beans.xsd   
						http://www.springframework.org/schema/context         
						http://www.springframework.org/schema/context/spring-context-2.5.xsd         
						http://www.springframework.org/schema/tx         
						http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
		<!-- quartz 定时服务-->
	 <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"> 
		<property name="dataSource" ref="dataSourceProxy"> 
		</property> 
		<property name="waitForJobsToCompleteOnShutdown" value="true"/> 
	 </bean> 
	<!-- 获取任务数据范围Service，实际项目中需重新自定义，实现JobDataRangeService接口  -->
	<bean id="jobDataRangeService" parent="transactionProxy">
    	<property name="target">
			<bean class="com.yinhai.ta3.sysapp.scheduler.service.impl.JobDataRangeServiceImpl" parent="baseService">
			</bean>
		</property>
	</bean>
	
	<!-- 记录定时任务执行日志  -->
	<bean id="jobLogService" parent="transactionProxy">
    	<property name="target">
			<bean class="com.yinhai.ta3.sysapp.scheduler.service.impl.JobLogServiceImpl" parent="baseService">
			</bean>
		</property>
	</bean>
	
</beans>